<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-dark">
  
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" class="form-control" placeholder="Enter your Adress..." name="address">
            <input type="email" class="form-control" placeholder="Enter your Email" name="email">
            <input type="tel" class="form-control" placeholder="Enter your Phone" name="phone">
            <input type="text" class="form-control" placeholder="Enter your Comment" name="comment">
            <input type="count" class="form-control" placeholder="Enter your Count" name="count" value="1">
            <button type="submit">  
                QQQQ
            </button>
        </form>
        
    </div>  
</body>
</html>